.todoListComponent {
  text-align: left;
}
.addButton {
  width: 180px;
  height: 10vh;
  background-color: #3b3f41;
  color: white;
  font-size: 18px;
  margin-top: 30px;
}
.listItem {
  color: black;
}
.Item {
  margin-bottom: 20px;
  list-style: none;
  margin-left: -40px;
  min-height: 5vh;
  vertical-align: center;
  width: 180px;
  background-color: white;

}
