.App {
  background: gray;
  width: 30%;
  padding: 50px;
  min-height: 20vh;
}
.displayButton {
  width: 180px;
  height: 10vh;
  margin-right: 10%;
  background-color: #4ed6ff;
  color: white;
  font-size: 18px;
}

